# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data
pids
*.pid
*.pid.lock

# Dependency directories
jspm_packages/
.eslintcache/

# TypeScript
*.tsbuildinfo

# Output directories
dist/
build/
out/
lib/

# Environment files
.env
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo

# MacOS files
.DS_Store

# Optional npm cache directory
.npm/

# Optional Yarn cache directory
.yarn/
.yarnrc.yml

# Optional lock files
package-lock.json
yarn.lock
pnpm-lock.yaml
